@import "./variable";

.greyBg {
  background-color: #f6f6f6;
}
.main__donation {
  height: 463px;
  display: flex;
  justify-content: start;
  align-items: center;
  &_img {
    margin-left: 143px;
    margin-bottom: 18px;
    object-fit: contain;
  }
  &__donation-section {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -10px;
    margin-left: 30px;
    width: 311px;
    // height: 297px;
    &_h3 {
      @include h3;
    }
    &_h5 {
      margin-top: 19px;
      font-size: 15px;
      line-height: 110%;
      letter-spacing: 0.06em;
      color: #545454;
    }
    &__button {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
      margin-top: 21px;
      // padding: 10px 10px;
      width: 349px;
      height: 43px;
      background: #f1cdb3;
      border-radius: 9px;
      font-size: 20px;
      line-height: 115%;
      letter-spacing: 0.06em;
      color: #545454;
      transition: background-color 0.3s, box-shadow 0.3s;
      &:hover {
        background-color: $buttonColorHover;
        box-shadow: 1px 0 5px $buttonColorHover;
      }
      &_icon {
        display: inline-block;
        width: 30px;
        height: 23px;
        background-image: url(../assets/icon/credit-card.svg);
        background-position: center;
        background-size: 100%;
      }
    }
    &__paragraph {
      font-family: $font-arial;
      width: 365px;
      margin-top: 18px;
      font-size: 12px;
      line-height: 18px;
      color: #b2b2b2;
      font-style: italic;
    }
  }
}

@media (min-width: 769px) and (max-width: 1279px) {
  .main__donation_img {
    width: 39.48397185301016vw;
    margin-left: 4vw;
    margin-bottom: 18px;
    object-fit: contain;
  }
}
@media (max-width: 768px) {
  .main__donation {
    height: 783px;
    flex-direction: column-reverse;
  }
  .main__donation_img {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 49px;
  }
  .main__donation__donation-section {
    top: -13px;
    right: 34px;
    margin-left: 0;
    margin-top: 92px;
  }
  .main__donation_img {
    width: 66vw;
  }
}

@media (max-width: 390px) {
  .main__donation {
    align-items: center;
  }
  .main__donation__donation-section {
    top: 0;
    right: 0;
    margin-left: 0;
    margin-top: 43px;
    text-align: center;
    align-items: center;
    width: 300px;
  }
  .main__donation__donation-section_h3 {
    font-size: 25px;
    width: 221px;
  }
  .main__donation__donation-section_h5 {
    margin-top: 23px;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0;
  }
  .main__donation__donation-section__button {
    margin-top: 23px;
    width: 280px;
    font-size: 15px;
  }
  .main__donation__donation-section__paragraph {
    width: 280px;
    margin-top: 20px;
    text-align: justify;
    font-style: italic;
  }
  .main__donation_img {
    width: 262px;
    margin-top: 42px;
  }
  .main__donation {
    height: 543px;
}
}
