@import "../../assets/fonts/stylesheet";
@import "../../assets/scss/_reset";
@import "./_variable";
@import "./_header";
@import "./_startScreen";
@import "./_about";
@import "./_pets";
@import "./_help";
@import "./_donation";
@import "../../assets/scss/_footer";

html {
  scroll-behavior: smooth;
}

body {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  font-family: $font-georgia;
}
.bg-popup {
  display: none;
  position: fixed;
  // visibility: hidden;
  opacity: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.716);
  z-index: 7;
  transition: opacity 0.3s;
}
.bg-popup_opacity {
  opacity: 1;
}
.bg-popup_visible {
  display: block;
  // visibility: visible;
}
.wrap {
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 769px) and (max-width: 1279px) {
  .wrap {
    max-width: 93.75vw;
  }
}

@media (max-width: 768px) {
  .wrap {
    max-width: 708px;
    margin: 0 auto;
  }
}

@media (max-width: 410px) {
  .wrap {
    max-width: 300px;
    margin: 0 auto;
  }
}
