@font-face {
  font-family: "Arial";
  src: url("Arial-ItalicMT.eot");
  src: local("Arial Italic"), local("Arial-ItalicMT"), url("Arial-ItalicMT.eot?#iefix") format("embedded-opentype"), url("Arial-ItalicMT.woff") format("woff"), url("Arial-ItalicMT.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("ArialNarrow-Bold.eot");
  src: local("Arial Narrow Bold"), local("ArialNarrow-Bold"), url("ArialNarrow-Bold.eot?#iefix") format("embedded-opentype"), url("ArialNarrow-Bold.woff") format("woff"), url("ArialNarrow-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Arial";
  src: url("Arial-BoldItalicMT.eot");
  src: local("Arial Bold Italic"), local("Arial-BoldItalicMT"), url("Arial-BoldItalicMT.eot?#iefix") format("embedded-opentype"), url("Arial-BoldItalicMT.woff") format("woff"), url("Arial-BoldItalicMT.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("ArialNarrow.eot");
  src: local("Arial Narrow"), local("ArialNarrow"), url("ArialNarrow.eot?#iefix") format("embedded-opentype"), url("ArialNarrow.woff") format("woff"), url("ArialNarrow.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("ArialNarrow-Italic.eot");
  src: local("Arial Narrow Italic"), local("ArialNarrow-Italic"), url("ArialNarrow-Italic.eot?#iefix") format("embedded-opentype"), url("ArialNarrow-Italic.woff") format("woff"), url("ArialNarrow-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Arial";
  src: url("ArialMT.eot");
  src: local("Arial"), local("ArialMT"), url("ArialMT.eot?#iefix") format("embedded-opentype"), url("ArialMT.woff") format("woff"), url("ArialMT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Arial";
  src: url("Arial-BoldMT.eot");
  src: local("Arial Bold"), local("Arial-BoldMT"), url("Arial-BoldMT.eot?#iefix") format("embedded-opentype"), url("Arial-BoldMT.woff") format("woff"), url("Arial-BoldMT.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Arial";
  src: url("Arial-Black.eot");
  src: local("Arial Black"), local("Arial-Black"), url("Arial-Black.eot?#iefix") format("embedded-opentype"), url("Arial-Black.woff") format("woff"), url("Arial-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("ArialNarrow-BoldItalic.eot");
  src: local("Arial Narrow Bold Italic"), local("ArialNarrow-BoldItalic"), url("ArialNarrow-BoldItalic.eot?#iefix") format("embedded-opentype"), url("ArialNarrow-BoldItalic.woff") format("woff"), url("ArialNarrow-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Georgia";
  src: url("Georgia-BoldItalic.eot");
  src: local("Georgia Bold Italic"), local("Georgia-BoldItalic"), url("Georgia-BoldItalic.eot?#iefix") format("embedded-opentype"), url("Georgia-BoldItalic.woff") format("woff"), url("Georgia-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Georgia";
  src: url("Georgia-Italic.eot");
  src: local("Georgia Italic"), local("Georgia-Italic"), url("Georgia-Italic.eot?#iefix") format("embedded-opentype"), url("Georgia-Italic.woff") format("woff"), url("Georgia-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Georgia";
  src: url("Georgia-Bold.eot");
  src: local("Georgia Bold"), local("Georgia-Bold"), url("Georgia-Bold.eot?#iefix") format("embedded-opentype"), url("Georgia-Bold.woff") format("woff"), url("Georgia-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Georgia";
  src: url("Georgia.eot");
  src: local("Georgia"), url("Georgia.eot?#iefix") format("embedded-opentype"), url("Georgia.woff") format("woff"), url("Georgia.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  align-items: center;
  width: 100%;
}
.header__logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}
.header__logo_h1 {
  position: relative;
  top: 4px;
  font-size: 32px;
  letter-spacing: 0.06em;
  transition: all 0.3s;
  z-index: 11;
}
.header__logo_h1 a {
  color: #545454;
}
.header__logo_h1 a > span {
  position: relative;
  bottom: 4px;
}
@media (any-hover: hover) {
  .header__logo_h1:hover {
    transform: scale(1.1);
  }
}
.header__logo_paragraph {
  font-family: "Arial", "Times New Roman", Times, sans-serif;
  font-size: 13px;
  letter-spacing: 0.1em;
  margin-left: 5px;
  color: #292929;
}

.nav__list {
  display: flex;
  margin-bottom: 5px;
  gap: 36px;
}
.nav__list_li > a {
  font-family: "Arial", Helvetica, sans-serif;
  font-size: min(15px, 2vw);
  color: #545454;
}
.nav__list_liActive > a {
  color: #545454;
  border-bottom: 3px #F1CDB3 solid;
  padding-bottom: 4px;
}

@media (any-hover: hover) {
  .nav__list_li > a:hover {
    color: #545454;
    border-bottom: 3px #F1CDB3 solid;
    padding-bottom: 4px;
    transition: all 0.2s;
  }
}
@media (max-width: 767px) {
  .header {
    position: relative;
  }
  .header__nav_burger {
    cursor: pointer;
    display: flex;
    width: 30px;
    height: 22px;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s;
    z-index: 11;
  }
  .header__nav_burger:hover {
    transform: scale(1.1);
  }
  .header__nav_burger > hr {
    width: 100%;
    border: 1px solid black;
  }
  .header .header__nav {
    display: flex;
    width: 303px;
    height: 822px;
    top: 0;
    right: 0;
    transform: translateX(330px);
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: #FAFAFA;
    z-index: 10;
    transition: all 0.3s;
    z-index: 6;
  }
  .header .header__nav .nav__list {
    gap: 60px;
    text-align: center;
    flex-direction: column;
  }
  .header .header__nav .nav__list_li > a {
    font-size: 32px;
  }
  .header .burger__nav_active {
    transform: translateX(0px);
  }
  .header_active {
    justify-content: end;
    gap: 30px;
  }
  .burger_active {
    transform: rotate(90deg);
  }
  .burger_active:hover {
    transform: rotate(90deg) scale(1.1);
  }
}
@media (max-width: 410px) {
  .header {
    width: auto;
    margin-left: 20px;
  }
  .header__nav_burger {
    margin-right: 20px;
  }
  .header__nav_burger:hover {
    transform: scale(1.1);
  }
  .header__nav_burger > hr {
    width: 100%;
    border: 1px solid black;
  }
  .header .burger__nav_active {
    transform: translateX(0px);
  }
  .burger_active {
    transform: rotate(90deg);
  }
  .burger_active:hover {
    transform: rotate(90deg) scale(1.1);
  }
}
.main {
  background-color: #F6F6F6;
}

.main__section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main__pets {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #F6F6F6;
}
.main__pets_h3 {
  margin-top: 81px;
  width: auto;
  text-align: center;
  font-size: 35px;
  letter-spacing: 0.06em;
  line-height: 130%;
  color: #545454;
}
.main__pets__figure-block {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 58px;
  column-gap: 40px;
  row-gap: 29px;
}
.main__pets_button {
  width: 261px;
  margin-top: 90px;
  justify-self: center;
  font-family: "Georgia", "Times New Roman", Times, sans-serif;
  color: #292929;
  height: 52px;
  background-color: #F1CDB3;
  font-size: 17px;
  letter-spacing: 0.06em;
  border-radius: 100px;
  transition: background-color 0.3s, box-shadow 0.3s;
}
@media (any-hover: hover) {
  .main__pets__arrow-prev:hover, .main__pets__arrow-next:hover {
    background-color: #FDDCC4;
  }
  .main__pets_button:hover {
    background-color: #FDDCC4;
    box-shadow: 1px 0 5px #FDDCC4;
  }
}

.pets__figure {
  cursor: pointer;
  height: 436px;
  background-color: #FAFAFA;
  text-align: center;
  transition: transform 0.3s;
}
@media (any-hover: hover) {
  .pets__figure:hover {
    transform: scale(1.1);
  }
  .pets__figure:hover .pets__figure_button {
    background-color: #f1cdb3;
  }
  .pets__figure:hover .pets__figure_button:hover {
    background-color: #FDDCC4;
  }
}
.pets__figure_title {
  margin-top: 28px;
  color: #545454;
  font-size: 20px;
  letter-spacing: 0.06em;
}
.pets__figure_button {
  margin-top: 32px;
  width: 187px;
  font-family: "Georgia", "Times New Roman", Times, sans-serif;
  color: #292929;
  height: 52px;
  background-color: #F1CDB3;
  font-size: 17px;
  letter-spacing: 0.06em;
  border-radius: 100px;
  transition: background-color 0.3s, box-shadow 0.3s;
  background-color: rgba(246, 246, 246, 0);
  border: 2px solid #F1CDB3;
}
@media (any-hover: hover) {
  .pets__figure_button:hover {
    background-color: #FDDCC4;
  }
}

.pets__buttons-block {
  display: flex;
  margin-top: 59px;
  gap: 20px;
  margin-bottom: 100px;
}

.button-block__button {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.5s;
  background-color: rgba(0, 0, 0, 0);
}
.button-block__button:disabled {
  cursor: not-allowed;
  opacity: 0.4;
  border: 2px solid #CDCDCD;
}
.button-block__button:disabled:hover {
  background-color: rgba(84, 84, 84, 0);
}
.button-block_arrow-first {
  transform: rotate(180deg);
  background-image: url(../assets/icon/dablEqual.svg);
}
.button-block_arrow-prew {
  transform: rotate(180deg);
  background-image: url(../assets/icon/equal.svg);
}
.button-block_number {
  font-size: 20px;
  background-color: #F1CDB3;
}
.button-block_arrow-next {
  background-image: url(../assets/icon/equal.svg);
}
.button-block_arrow-last {
  background-image: url(../assets/icon/dablEqual.svg);
}
@media (any-hover: hover) {
  .button-block__button:hover {
    background-color: #FDDCC4;
    box-shadow: 1px 0px 5px #FDDCC4;
  }
}

@media (max-width: 768px) {
  .main__pets__figure-block {
    margin-top: 28px;
  }
  .pets__buttons-block {
    margin-top: 39px;
    margin-bottom: 76px;
  }
  .pets__figure:nth-last-child(1) {
    display: none;
  }
  .pets__figure:nth-last-child(2) {
    display: none;
  }
}
@media (max-width: 399px) {
  .main__pets_h3 {
    margin-top: 41px;
    font-size: 25px;
  }
  .main__pets__figure-block {
    margin-top: 42px;
  }
  .pets__figure:nth-last-child(3) {
    display: none;
  }
  .pets__figure:nth-last-child(4) {
    display: none;
  }
  .pets__figure:nth-last-child(5) {
    display: none;
  }
  .pets__buttons-block {
    margin-top: 41px;
    gap: 10px;
    margin-bottom: 42px;
  }
}
.bgImgFooter {
  position: absolute;
  background-image: url(../assets/img/bdGradient.png), url(../assets/img/noise_transparent@2x.png);
  background-position: center center;
  background-repeat: no-repeat, repeat;
  background-blend-mode: multiply;
  width: 100%;
  height: 350px;
  z-index: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 350px;
}
.footer__section-left {
  display: flex;
  gap: 138.5px;
}
.footer__right-left {
  width: 300px;
  object-fit: contain;
  align-self: end;
}

.section-left__contacts {
  display: flex;
  margin-top: 56px;
  flex-direction: column;
}
.section-left__contacts-h3 {
  width: 300px;
  color: #fff;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}
.section-left__contacts-parapraph {
  display: flex;
  align-items: center;
  width: 290px;
  margin-top: 39px;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  transition: transform 0.3s;
}
.section-left__contacts-parapraph-envilop {
  width: 40px;
  height: 32px;
  margin-right: 20px;
  background-image: url(../assets/icon/mail.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.section-left__contacts-parapraph-telephone {
  width: 40px;
  height: 32px;
  margin-right: 20px;
  background-image: url(../assets/icon/phone.svg);
  background-position: left;
  background-repeat: no-repeat;
}
@media (any-hover: hover) {
  .section-left__contacts-parapraph:hover {
    transform: scale(1.1);
  }
}

.section-left__adress {
  display: flex;
  margin-top: 56px;
  flex-direction: column;
}
.section-left__adress-h3 {
  width: 300px;
  color: #fff;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}
.section-left__adress-parapraph {
  display: flex;
  align-items: center;
  margin-top: 31px;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  transition: transform 0.3s;
}
.section-left__adress-parapraph::before {
  content: " ";
  width: 40px;
  height: 32px;
  position: relative;
  background-image: url(../assets/icon/pin.svg);
  background-position: left;
  background-repeat: no-repeat;
}
@media (any-hover: hover) {
  .section-left__adress-parapraph:hover {
    transform: scale(1.1);
  }
}

@media (min-width: 769px) and (max-width: 1279px) {
  .footer__section-left {
    display: flex;
    gap: 10.82vw;
  }
  .footer__right-left {
    width: 23.4375vw;
    object-fit: contain;
    align-self: end;
  }
  .section-left__contacts-h3 {
    width: 23.4375vw;
    font-size: 2.734375vw;
  }
  .section-left__contacts-parapraph {
    width: 22.65625vw;
    margin-top: 3.046875vw;
    font-size: 1.5625vw;
  }
  .section-left__contacts-parapraph-envilop {
    margin-right: 1.5625vw;
  }
  .section-left__contacts-parapraph-telephone {
    margin-right: 1.5625vw;
  }
  .section-left__adress-h3 {
    width: 23.4375vw;
    font-size: 2.734375vw;
  }
  .section-left__adress-parapraph {
    margin-top: 2.421875vw;
    font-size: 1.5625vw;
  }
}
@media (max-width: 768px) {
  .bgImgFooter {
    height: 640px;
  }
  .footer {
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 640px;
  }
  .footer__section-left {
    gap: 40.5px;
  }
  .footer__section-left .section-left__contacts {
    margin-top: 30px;
  }
  .footer__section-left .section-left__adress {
    margin-top: 32px;
  }
  .footer__right-left {
    align-self: center;
  }
}
@media (max-width: 767px) {
  .footer__section-left {
    gap: 0;
  }
  .section-left__contacts {
    width: 39.0625vw;
  }
  .section-left__contacts-h3 {
    width: 39.0625vw;
    font-size: 4.557vw;
  }
  .section-left__contacts-parapraph {
    margin-top: 3.046875vw;
    font-size: 2.604vw;
  }
  .section-left__contacts-parapraph-envilop {
    margin-right: 1.5625vw;
  }
  .section-left__contacts-parapraph-telephone {
    margin-right: 1.5625vw;
  }
  .section-left__adress-h3 {
    width: 39.0625vw;
    font-size: 4.557vw;
  }
  .section-left__adress-parapraph {
    margin-top: 2.421875vw;
    font-size: 2.604vw;
  }
}
@media (max-width: 399px) {
  .bgImgFooter {
    height: 810px;
  }
  .footer {
    height: 810px;
  }
  .footer__right-left {
    width: 261px;
  }
  .footer__section-left {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer__section-left .section-left__contacts {
    align-items: center;
    width: 100%;
  }
  .footer__section-left .section-left__contacts-h3 {
    width: 300px;
    font-size: 25px;
  }
  .footer__section-left .section-left__contacts-parapraph {
    margin-top: 39px;
    width: auto;
    font-size: 20px;
  }
  .footer__section-left .section-left__contacts-parapraph-envilop {
    margin-right: 20px;
  }
  .footer__section-left .section-left__contacts-parapraph-telephone {
    margin-right: 20px;
  }
  .footer__section-left .section-left__adress {
    margin-top: 40px;
  }
  .footer__section-left .section-left__adress-h3 {
    width: 293px;
    font-size: 25px;
  }
  .footer__section-left .section-left__adress-parapraph {
    margin-top: 39px;
    width: auto;
    font-size: 20px;
    text-align: start;
  }
  .footer__section-left .section-left__adress-parapraph::before {
    width: 38px;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Georgia", "Times New Roman", Times, sans-serif;
}

.bg-popup {
  display: none;
  position: fixed;
  opacity: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.716);
  z-index: 5;
  transition: opacity 0.3s;
}

.bg-popup_opacity {
  opacity: 1;
}

.bg-popup_visible {
  display: block;
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 769px) and (max-width: 1279px) {
  .wrap {
    max-width: 93.75vw;
  }
}
@media (max-width: 768px) {
  .wrap {
    max-width: 708px;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
