@import "../../assets/scss/_variable";

.bgImgHeader {
  position: absolute;
  top: 0;
  background-image: url(../../assets/img/bdGradient.png),
    url(../../assets/img/noise_transparent@2x.png);
  // background-size: 100% 100%;
  background-position: center center;
  background-blend-mode: multiply;
  // object-fit: fill;
  width: 100%;
  height: 908px;
  // left: -5;
  z-index: 0;
}

.main__start-screen {
  display: flex;
  height: 788px;
  gap: 39px;
  position: relative;
  &_left-section {
    display: flex;
    height: 340px;
    justify-content: start;
    flex-direction: column;
    align-self: center;
    &_h2 {
      font-family: $font-georgia;
      width: 310px;
      font-size: 44px;
      line-height: 130%;
      color: $white;
    }
    &_paragraph {
      font-family: $font-arial;
      color: $greyForTextAndButton;
      width: 463px;
      margin-top: 40px;
      font-size: 15px;
      line-height: 160%;
    }
    &_button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 207px;
      margin-top: 43px;
      @include button;
    }
    @media (any-hover: hover) {
      &_button:hover {
        background-color: $buttonColorHover;
        box-shadow: 1px 0 10px $buttonColorHover;
      }
    }
  }
  &_right-img {
    align-self: end;
  }
}

@media (min-width: 769px) and (max-width: 1279px) {
  .main__start-screen_right-img {
    width: 49.573885848319vw;
  }
  .main__start-screen_left-section_paragraph {
    width: 38.2001563722vw;
  }
}
@media (max-width: 770px) {
  .main__start-screen {
    height: 819px;
  }
}
@media (max-width: 768px) {
  .bgImgHeader {
    background-size: cover, auto;
    background-repeat: no-repeat, repeat;
    height: 1165px;
  }
  .main__start-screen {
    margin-top: 61px;
    flex-direction: column;
    justify-content: space-between;
    gap: 0;
    height: 1014px;
  }
  .main__start-screen_left-section_h2 {
    margin-left: 0;
  }
  .main__start-screen_left-section_paragraph {
    margin-left: 0;
  }
  .main__start-screen_left-section_button {
    align-self: center;
  }
  .main__start-screen_right-img {
    width: 73.95833333333334vw;
  }
}

@media (max-width: 490px) {
  .main__start-screen_left-section {
    align-items: center;
    text-align: center;
  }
  .main__start-screen_left-section_h2 {
    width: 255px;
    font-size: 25px;
    letter-spacing: 0.06em;
    line-height: 130%;
  }
  .main__start-screen_left-section_paragraph {
    width: 299px;
  }
  .main__start-screen_left-section_button {
    margin-top: 42px;
    margin-left: 0px;
  }
}
@media (max-width: 400px) {
  .bgImgHeader {
    height: 823px;
  }
  .main__start-screen {
    height: 672px;
  }
  .main__start-screen_right-img {
    width: 261px;
  }
}
