@import '/src/styles/variables';

.navigation {
  text-align: center;

  .button {
    @extend %button-style;

    width: 10rem;
    height: 2rem;
    margin: 1rem;
    color: var(--bg-article-color);
  }
}