.garage-list {
  position: relative;
  min-height: 30rem;

  &__car-container {
    position: relative;
    width: 6rem;
    height: 3rem;
    transition: left 0.3s;
  }

  .fire::after {
    content: '🔥';
    position: absolute;
    right: 0.5rem;
  }
}