$font-georgia: 'Georgia', 'Times New Roman', Times, sans-serif;
$font-arial: 'Arial', 'Times New Roman', Times, sans-serif;

$main-color:#F1CDB3;

$white: #fff;
$dark: #000;

$bgGrey: #E5E5E5;

$buttonColorHover: #FDDCC4;
$greyForTextAndButton: #CDCDCD;

$blackTextColor: #545454;
$activeTextColor: #FAFAFA;
$colorDarkXl: #4C4C4C;
$colorDark3xl: #292929;

$colorDarkM: #B2B2B2;

@mixin button {
  font-family: $font-georgia;
  color: #292929;
  height: 52px;
  // padding: 15px 45px;
  background-color: $main-color;
  font-size: 17px;
  letter-spacing: 0.06em;
  border-radius: 100px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

@mixin paragraph1 {
  font-size: 15px;
  line-height: 160%;
  color: $colorDarkXl;
  font-family: $font-arial;
}

@mixin buttonNextPrev {
  position: absolute;
  width: 52px;
  height: 52px;
  border: 2px solid $main-color;
  border-radius: 50%;
  background-image: url(../assets/icon/Arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.5s;
}
@mixin petsButton {
  width: 52px;
  height: 52px;
  border: 2px solid $main-color;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.5s;
  background-color: #00000000;
}
@mixin h3 {
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}