@import 'src/styles/animated';
@import 'src/styles/variables';
@import 'src/styles/themes';

.garage {
  padding: 0 1rem;

  .car-svg {
    width: 100%;
    height: 100%;
    fill: inherit;
  }

  &__logo {
    @extend %text-logo-with-shadow;

    text-align: center;
  }
}

.inputs-container {
  width: 30%;
  min-width: 25rem;
  height: 10rem;
  margin: 0 auto;
}
