.dark-theme {
  --bg-color: #17171a;
  --logo-color: #f5f8ff;
  --bg-article-color: #1f2025;
  --bg-shadow-article-color: #beb8b869;
  --text-color: #beb8b8;
  --skill-bar-color-percent: #506363;
  --skill-bar-color: #fff;
  --meth: #00ff08;
  --func: #20a3cb;
  --red: #ff5252;
  --orang: #ffc400;
  --pur: #c66aff;
}