.light-theme {
  --bg-color: #ccc;
  --logo-color: #373737;
  --bg-article-color: #feffff;
  --bg-shadow-article-color: #605b5b69;
  --text-color: #373737;
  --skill-bar-color-percent: #6e7d7d;
  --skill-bar-color: #373737;
  --meth: #107f13;
  --func: #007da3;
  --orang: #8d7011;
  --red: #e00000;
  --pur: #9d00ff;
}