.css-block {
  font-size: 1rem;
}

.css-editor {
  &__button-block {
    display: flex;
    height: 1rem;
    font-size: 0.7rem;
  }

  &__input {
    box-sizing: border-box;
    height: 1rem;
    background: none;
    border: none;

    &:focus {
      outline: none;
    }
  }

  &__enter {
    height: 100%;
    font-size: 0.6rem;
  }

  &__text {
    margin: 0.03rem 0 0;
  }
}
